<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Satyam Pandey | Web Developer</title>
    <meta name="description" content="I am Satyam Pandey a Web Develooper and UI/UX Designer" />
</head>

<body>
    <!--Header Section Starts-->
    <header class="headerSection">
        <!--Navigation Menu Start-->
        <div>
            <nav class="navbar">
                <h1 class="namelogo">Satyam.Dev</h1>
                <ul class="navul">
                    <a href="#" class="navlink">
                        <li class="navlist"> Education</li>
                    </a>
                    <a href="#" class="navlink">
                        <li class="navlist"> Projects</li>
                    </a>
                    <a href="#" class="navlink">
                        <li class="navlist">Skills</li>
                    </a>
                </ul>
            </nav>
        </div>
        <!--Navigation Menu Ends-->
        <!-- Name / Image / Social Media Link Start-->
        <div>
            <div class="intro">
                <div class="image-sm">
                    <img src="/static/images/Satyam.new.png" alt="Satyam Pandey Image" class="satyamImg-sm" />
                </div>
                <div class="nameContact">
                    <div class="fullname">
                        <h2 class="nametext">Satyam <br /> Pandey </h2>
                    </div>
                    <div class="profession">
                        <p class="uiProgrammertext">
                            UI/UX Developer <br />
                            Programmer
                        </p>
                    </div>
                    <div class="socialContact">
                        <a href="https://www.linkedin.com/in/satyam-pandey88/" class="iconLink" target="_blank"><i
                                class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/satyamdev88" target="_blank" class="iconLink"><i
                                class="fa-brands fa-github"></i></a>
                        <a href="https://www.instagram.com/__d_e_v_i_l__satyam__/" class="iconLink" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="https://wa.me/918809026220" class="iconLink" target="_blank"><i
                                class="fa-brands fa-whatsapp"></i></a>
                    </div>
                    <div class="letschatDiv">
                        <a href="mailto:satyampandey.dev23@gmail.com" class="chatText">Let's Chat</a>
                    </div>
                </div>
                <div class="image-lg">
                    <img src="/static/images/Satyam.new.png" alt="Satyam Pandey Image" class="satyamImg-lg" />
                </div>
            </div>
        </div>
        <!-- Name / Image / Social Media Link End-->

    </header>
    <!--Header Section Ends-->

    <main>
        <!--About ,Description and Email Start-->
        <div>
            <div class="aboutContainer">
                <div class="aboutSection">
                    <div class="innerAboutSection">
                        <div class="about">
                            <span class="aboutText">About Me</span>
                            <p class="detail">
                                I am extremely proficient in Front-End Development using
                                HTML5, Cascade Style Sheets (CSS3), Bootstrap,Javascript, And apart
                                from Front-End, I have good knowledge in Back-End using MySQL and continuously engage in
                                trying
                                to extend my with new technology.
                            </p>
                        </div>
                    </div>
                    <div class="innerQuerySection">
                        <div class="query">
                            <span class="queryText">Any Type of Query & Discussion</span>
                            <div>
                                <i class="far fa-envelope"></i>
                                <a href="mailto:satyampandey.dev23@gmail.com" class="mail-link" target="_blank">
                                    satyampandey.dev23@gmail.com </a>
                                <br /><br /><br />

                                <a href="/static/Resume of Satyam.pdf" class="DownloadResume" target="_blank"
                                    download="Resume of Satyam">
                                    <i class="fas fa-download"></i>
                                    Download Resume
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--About ,Description and Email End-->

        <!------Education Section-->
        <div>
            <div class="educationContainer">
                <div class="education">
                    <span class="education-text">Education</span>
                </div>
                <div class="educationBorder"></div>
                <div class="post-graduation">
                    <div class="about-pg">
                        <div class="year">
                            <span class="completion-year">
                                2022-2024
                            </span>
                        </div>
                        <div class="university">
                            <span class="university-name">
                                GD Goenka University
                            </span>
                        </div>
                        <div class="degree">
                            <span class="degree-level">
                                Master of Computer Applications
                            </span>
                        </div>
                        <div class="location">
                            <span class="university-location">
                                Sohna, Haryana Gurugram
                            </span>
                        </div>
                    </div>
                    <div class="pg_detail">
                        <div class="pg_description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit similique veniam
                            consequuntur eos. Aspernatur, harum mollitia. Non maxime ratione est delectus, rerum amet.
                        </div>
                    </div>

                </div>
                <div class="graduation">
                    <div class="about-pg">
                        <div class="year">
                            <span class="completion-year">
                                2019-2022
                            </span>
                        </div>
                        <div class="university">
                            <span class="university-name">
                                Microtek College of Management and Technology
                            </span>
                        </div>
                        <div class="degree">
                            <span class="degree-level">
                                Bachelor of Computer Applications(BCA)
                            </span>
                        </div>
                        <div class="location">
                            <span class="university-location">
                                Sankat Mochan, Varanasi
                            </span>
                        </div>
                    </div>
                    <div class="pg_detail">
                        <div class="pg_description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit similique veniam
                            consequuntur eos. Aspernatur, harum mollitia. Non maxime ratione est delectus, rerum amet.
                        </div>
                    </div>
                </div>
                <div class="twelth">
                    <div class="about-pg">
                        <div class="year">
                            <span class="completion-year">
                                2017-2019
                            </span>
                        </div>
                        <div class="university">
                            <span class="university-name">
                                SMT. Nagwanshi Kuldeep Senior Secondary School
                            </span>
                        </div>
                        <div class="degree">
                            <span class="degree-level">
                                Intermediate in Science(PCM)
                            </span>
                        </div>
                        <div class="location">
                            <span class="university-location">
                                Mohaniya, Rohtas Bihar
                            </span>
                        </div>
                    </div>
                    <div class="pg_detail">
                        <div class="pg_description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit similique veniam
                            consequuntur eos. Aspernatur, harum mollitia. Non maxime ratione est delectus, rerum amet.
                        </div>
                    </div>
                </div>
                <div class="tenth">
                    <div class="about-pg">
                        <div class="year">
                            <span class="completion-year">
                                2016-2017
                            </span>
                        </div>
                        <div class="university">
                            <span class="university-name">
                                Pgragya Niketan Public School
                            </span>
                        </div>
                        <div class="degree">
                            <span class="degree-level">
                                10 <sup>th</sup> Class
                            </span>
                        </div>
                        <div class="location">
                            <span class="university-location">
                                Sasaram, Rohtas Bihar
                            </span>
                        </div>
                    </div>
                    <div class="pg_detail">
                        <div class="pg_description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit similique veniam
                            consequuntur eos. Aspernatur, harum mollitia. Non maxime ratione est delectus, rerum amet.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End Education Section-->
        <!------Project Section -->
        <div>
            <div class="Projects-Container">
                <div class="project">
                    <div class="inner-project">
                        <div class="project-title">
                            <span class="project-title-text">
                                Projects
                            </span>
                        </div>
                        <div class="project-border"></div>
                    </div>
                </div>
                <div class="inner-project-container">
                    <div class="inner-conatiner">
                        <div class="first-project">
                            <div class="first-project-image">
                                <img src="/static/images/devPortfolio.png" alt="Developer Portfolio" class="devportfolio-image">
                            </div>

                            <div class="project-desc">
                                <div class="first-project-name">
                                    <span>Developer Portfolio</span>
                                </div>
                                <div class="first-project-element">
                                    <p>This website is designed by using <br> HTML, CSS, JavaScript</p>
                                </div>
                                <div class="project-links">
                                    <div class="source">
                                        <a href="https://github.com/satyamdev88/DevPortfolio" class="source-link" target="_blank">
                                            < Source Code >
                                        </a>
                                    </div>
                                    <div class="website">
                                        <a href="https://satyamdev88.github.io/DevPortfolio/" class="source-link web-link" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="second-project">
                            <div class="second-project-image">
                                <img src="/static/images/Arl.png" alt="Arl Image" class="arl-image">
                            </div>
                            <div class="project-desc">
                                <div class="second-project-name">
                                    <span>Arl Expressways</span>
                                </div>
                                <div class="second-project-element">
                                    <p>This website is designed by using <br> HTML, CSS, JavaScript</p>
                                </div>
                                <div class="project-links">
                                    <div class="source">
                                        <a href="https://github.com/satyamdev88/ARL-Expressways-Website/tree/main/Arl%20(version-2)" class="source-link" target="_blank">
                                            < Source Code >
                                        </a>
                                    </div>
                                    <div class="website">
                                        <a href="https://arlexpressways.000webhostapp.com/" class="source-link web-link" target="_blank">Website</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="third-project">
                            <div class="third-project-image">
                                <img src="/static/images/Portfolio.png" alt="Portfolio Image" class="portfolio-image">
                            </div>
                            <div class="project-desc">
                                <div class="third-project-name">
                                    <span>Portfolio</span>
                                </div>
                                <div class="third-project-element">
                                    <p>This website is designed by using <br> Django, HTML, CSS, JavaScript</p>
                                </div>
                                <div class="project-links">
                                    <div class="source">
                                        <a href="https://github.com/satyamdev88/Portfolio" class="source-link">
                                            < Source Code >
                                        </a>
                                    </div>
                                    <div class="website">
                                        <a href="#" class="source-link web-link" title="Coming soon>Website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------Project Section End------>
        <!-----Skill Section -->
        <div>
            <div class="skill-conatiner">
                <div class="top-skill-conatiner">
                    <div class="skill">
                        <span>Skills</span>
                    </div>
                    <div class="skill-border"></div>
                </div>
                <div class="bottom-skill-container">
                    <div class="left-skill-container">
                        <div class="language"><span>HTML</span></div>
                        <div class="language"><span>CSS</span></div>
                        <div class="language"><span>JavaScript</span></div>
                        <div class="language"><span>Bootstrap</span></div>
                        <div class="language"><span>Django</span></div>
                    </div>
                    <div class="right-skill-container">
                        <div class="language"><span>C</span></div>
                        <div class="language"><span>C++</span></div>
                        <div class="language"><span>Java</span></div>
                        <div class="language"><span>Python</span></div>
                        <div class="language"><span>SQL</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-----End Skill Section---->

        <!--------Footer Section--------->
        <footer>
            <div>
                <div class="Connection-footer">
                    <div class="stay-connect">
                        <h4>Stay Connected</h4>
                    </div>
                    <div class="connection-detail">
                        <span class="d-by-s">
                            Developed by Satyam Pandey
                        </span>
                        <span class="address">
                            Sohna, Haryana,Gurugram
                        </span>
                        <span class="num">
                            (+91) 8809026220
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <!--------End Footer Section-------->

    </main>
</body>

</html>
